{% extends 'CRMBackBundle::layout.html.twig' %}

{% block title %}
    {{ 'customer.index'|trans({}, 'customer')|raw }}
{% endblock %}

{% block page_title %}
    {{ 'customer'|trans({}, 'common') }}
{% endblock %}
{% block page_subtitle %}
    {{ 'customer.index'|trans({}, 'customer') }}
{% endblock %}
{% block content %}
    <div id="user-profile-2" class="user-profile row-fluid">
    <div class="tabbable">
    <ul class="nav nav-tabs padding-18">
        <li class="active">
            <a data-toggle="tab" href="#home">
                <i class="green icon-user bigger-120"></i>
                {{ 'customer.tabs.profile'|trans({}, 'customer') }}
            </a>
        </li>

        <li class="">
            <a data-toggle="tab" href="#feed">
                <i class="orange icon-rss bigger-120"></i>
                {{ 'customer.tabs.activity'|trans({}, 'customer') }}
            </a>
        </li>

        <li class="">
            <a data-toggle="tab" href="#friends">
                <i class="blue icon-group bigger-120"></i>
                Friends
            </a>
        </li>

        <li class="">
            <a data-toggle="tab" href="#pictures">
                <i class="pink icon-picture bigger-120"></i>
                Pictures
            </a>
        </li>
    </ul>

    <div class="tab-content no-border padding-24">
    <div id="home" class="tab-pane active">
    <div class="row-fluid">
        <div class="span3 center">
            <span class="profile-picture">
                <img class="editable" alt="Alex's Avatar" id="avatar2" src="profile-pic.jpg">
            </span>

            <div class="space space-4"></div>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#" class="btn btn-small btn-block btn-success">
                <i class="icon-plus-sign bigger-110"></i>
                Add as a friend
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#" class="btn btn-small btn-block btn-primary">
                <i class="icon-envelope-alt"></i>
                Send a message
            </a>
        </div><!--/span-->

        <div class="span9">
            <h4 class="blue">
                <span class="middle">{{ customer.name ~ ' ' ~ customer.firstName }}</span>
                <span class="label label-purple arrowed-in-right">
                    <i class="icon-circle smaller-80"></i>
                    online
                </span>
            </h4>

            <div class="profile-user-info">
                <div class="profile-info-row">
                    <div class="profile-info-name"> Username </div>

                    <div class="profile-info-value">
                        <span>alexdoe</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Location </div>

                    <div class="profile-info-value">
                        <i class="icon-map-marker light-orange bigger-110"></i>
                        <span>Netherlands</span>
                        <span>Amsterdam</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Age </div>

                    <div class="profile-info-value">
                        <span>38</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Joined </div>

                    <div class="profile-info-value">
                        <span>20/06/2010</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Last Online </div>

                    <div class="profile-info-value">
                        <span>3 hours ago</span>
                    </div>
                </div>
            </div>

            <div class="hr hr-8 dotted"></div>

            <div class="profile-user-info">
                <div class="profile-info-row">
                    <div class="profile-info-name"> Website </div>

                    <div class="profile-info-value">
                        <a href="http://192.69.216.111/themes/preview/ace/profile.html#" target="_blank">www.alexdoe.com</a>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">
                        <i class="middle icon-facebook-sign bigger-150 blue"></i>
                    </div>

                    <div class="profile-info-value">
                        <a href="http://192.69.216.111/themes/preview/ace/profile.html#">Find me on Facebook</a>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">
                        <i class="middle icon-twitter-sign bigger-150 light-blue"></i>
                    </div>

                    <div class="profile-info-value">
                        <a href="http://192.69.216.111/themes/preview/ace/profile.html#">Follow me on Twitter</a>
                    </div>
                </div>
            </div>
        </div><!--/span-->
    </div><!--/row-fluid-->

    <div class="space-20"></div>

    <div class="row-fluid">
        <div class="span6">
            <div class="widget-box transparent">
                <div class="widget-header widget-header-small">
                    <h4 class="smaller">
                        <i class="icon-check bigger-110"></i>
                        Little About Me
                    </h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <p>
                            My job is mostly lorem ipsuming and dolor sit ameting as long as consectetur adipiscing elit.
                        </p>
                        <p>
                            Sometimes quisque commodo massa gets in the way and sed ipsum porttitor facilisis.
                        </p>
                        <p>
                            The best thing about my job is that vestibulum id ligula porta felis euismod and nullam quis risus eget urna mollis ornare.
                        </p>
                        <p>
                            Thanks for visiting my profile.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="span6">
            <div class="widget-box transparent">
                <div class="widget-header widget-header-small header-color-blue2">
                    <h4 class="smaller">
                        <i class="icon-lightbulb bigger-120"></i>
                        My Skills
                    </h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-16">
                        <div class="row-fluid">
                            <div class="grid3 center">
                                <div class="easy-pie-chart percentage easyPieChart" data-percent="45" data-color="#CA5952" style="width: 72px; height: 72px; line-height: 72px; color: rgb(202, 89, 82);">
                                    <span class="percent">45</span>
                                    %
                                    <canvas width="72" height="72"></canvas><canvas width="72" height="72"></canvas></div>

                                <div class="space-2"></div>
                                Graphic Design
                            </div>

                            <div class="grid3 center">
                                <div class="center easy-pie-chart percentage easyPieChart" data-percent="90" data-color="#59A84B" style="width: 72px; height: 72px; line-height: 72px; color: rgb(89, 168, 75);">
                                    <span class="percent">90</span>
                                    %
                                    <canvas width="72" height="72"></canvas><canvas width="72" height="72"></canvas></div>

                                <div class="space-2"></div>
                                HTML5 &amp; CSS3
                            </div>

                            <div class="grid3 center">
                                <div class="center easy-pie-chart percentage easyPieChart" data-percent="80" data-color="#9585BF" style="width: 72px; height: 72px; line-height: 72px; color: rgb(149, 133, 191);">
                                    <span class="percent">80</span>
                                    %
                                    <canvas width="72" height="72"></canvas><canvas width="72" height="72"></canvas></div>

                                <div class="space-2"></div>
                                Javascript/jQuery
                            </div>
                        </div>

                        <div class="hr hr-16"></div>

                        <div class="profile-skills">
                            <div class="progress">
                                <div class="bar" style="width:80%">
                                    <span class="pull-left">HTML5 &amp; CSS3</span>
                                    <span class="pull-right">80%</span>
                                </div>
                            </div>

                            <div class="progress progress-success">
                                <div class="bar" style="width:72%">
                                    <span class="pull-left">Javascript &amp; jQuery</span>

                                    <span class="pull-right">72%</span>
                                </div>
                            </div>

                            <div class="progress progress-purple">
                                <div class="bar" style="width:70%">
                                    <span class="pull-left">PHP &amp; MySQL</span>

                                    <span class="pull-right">70%</span>
                                </div>
                            </div>

                            <div class="progress progress-warning">
                                <div class="bar" style="width:50%">
                                    <span class="pull-left">Wordpress</span>

                                    <span class="pull-right">50%</span>
                                </div>
                            </div>

                            <div class="progress progress-danger">
                                <div class="bar" style="width:35%">
                                    <span class="pull-left">Photoshop</span>

                                    <span class="pull-right">35%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div><!--#home-->

    <div id="feed" class="tab-pane">
    </div><!--/#feed-->

    <div id="friends" class="tab-pane">
    </div><!--/#friends-->

    <div id="pictures" class="tab-pane">
    <ul class="ace-thumbnails">
    <li>
        <a href="http://192.69.216.111/themes/preview/ace/profile.html#" data-rel="colorbox">
            <img alt="150x150" src="thumb-1.jpg">
            <div class="text">
                <div class="inner">Sample Caption on Hover</div>
            </div>
        </a>

        <div class="tools tools-bottom">
            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-link"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-paper-clip"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-pencil"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-remove red"></i>
            </a>
        </div>
    </li>

    <li>
        <a href="http://192.69.216.111/themes/preview/ace/profile.html#" data-rel="colorbox">
            <img alt="150x150" src="thumb-2.jpg">
            <div class="text">
                <div class="inner">Sample Caption on Hover</div>
            </div>
        </a>

        <div class="tools tools-bottom">
            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-link"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-paper-clip"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-pencil"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-remove red"></i>
            </a>
        </div>
    </li>

    <li>
        <a href="http://192.69.216.111/themes/preview/ace/profile.html#" data-rel="colorbox">
            <img alt="150x150" src="thumb-3.jpg">
            <div class="text">
                <div class="inner">Sample Caption on Hover</div>
            </div>
        </a>

        <div class="tools tools-bottom">
            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-link"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-paper-clip"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-pencil"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-remove red"></i>
            </a>
        </div>
    </li>

    <li>
        <a href="http://192.69.216.111/themes/preview/ace/profile.html#" data-rel="colorbox">
            <img alt="150x150" src="thumb-4.jpg">
            <div class="text">
                <div class="inner">Sample Caption on Hover</div>
            </div>
        </a>

        <div class="tools tools-bottom">
            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-link"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-paper-clip"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-pencil"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-remove red"></i>
            </a>
        </div>
    </li>

    <li>
        <a href="http://192.69.216.111/themes/preview/ace/profile.html#" data-rel="colorbox">
            <img alt="150x150" src="thumb-5.jpg">
            <div class="text">
                <div class="inner">Sample Caption on Hover</div>
            </div>
        </a>

        <div class="tools tools-bottom">
            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-link"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-paper-clip"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-pencil"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-remove red"></i>
            </a>
        </div>
    </li>

    <li>
        <a href="http://192.69.216.111/themes/preview/ace/profile.html#" data-rel="colorbox">
            <img alt="150x150" src="thumb-6.jpg">
            <div class="text">
                <div class="inner">Sample Caption on Hover</div>
            </div>
        </a>

        <div class="tools tools-bottom">
            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-link"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-paper-clip"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-pencil"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-remove red"></i>
            </a>
        </div>
    </li>

    <li>
        <a href="http://192.69.216.111/themes/preview/ace/profile.html#" data-rel="colorbox">
            <img alt="150x150" src="thumb-1.jpg">
            <div class="text">
                <div class="inner">Sample Caption on Hover</div>
            </div>
        </a>

        <div class="tools tools-bottom">
            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-link"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-paper-clip"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-pencil"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-remove red"></i>
            </a>
        </div>
    </li>

    <li>
        <a href="http://192.69.216.111/themes/preview/ace/profile.html#" data-rel="colorbox">
            <img alt="150x150" src="thumb-2.jpg">
            <div class="text">
                <div class="inner">Sample Caption on Hover</div>
            </div>
        </a>

        <div class="tools tools-bottom">
            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-link"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-paper-clip"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-pencil"></i>
            </a>

            <a href="http://192.69.216.111/themes/preview/ace/profile.html#">
                <i class="icon-remove red"></i>
            </a>
        </div>
    </li>
    </ul>
    </div><!--/#pictures-->
    </div>
    </div>
    </div>
{% endblock %}