<div id="confirmBox" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>title</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary btn-institutionnel" id="confirmBoxSubmit">{{ 'confirm'|trans({},'commons') }}</a>
        <a class="btn" data-dismiss="modal">{{ 'cancel'|trans({},'commons') }}</a>
    </div>
</div>